# PostgreSQL
POSTGRES_DB=car_sale_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_strong_password_here

# PgAdmin
PGADMIN_EMAIL=your_email@example.com
PGADMIN_PASSWORD=your_strong_password_here

# Redis
REDIS_PASSWORD=your_strong_redis_password_here

# App
APP_PORT=5005
